*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9EEF6;
    min-height: 100vh;
}

.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 90px 48.5px;
    border-radius: 32px;
    width: 1437px;
    height: 608px;
}
.container-cards{
    display: flex;
    justify-content: space-between;
}
.card{
    background-color: #F8F2FA;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 50px 50px 50px;
    text-align: center;
    margin: 7.5px;
}

.container h1{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #0C1727;
}
.card img{
    background-color: white;
    border-radius: 50%;
    border: 10px solid white;
}
.card h2{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: black;
    margin: 5px 0 10px 0;
}
.card p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin-bottom: 35px;
}
.card a{
    text-decoration: none;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #0C1727;
    padding: 12px 20px;
    border-radius: 3px;
}