* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: row;

    min-height: 100vh;

    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
}
section{
    width: 1290px;
    height: 100%;
    padding: 152px 32px;

    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}



.menu-lateral{
    background-color: #313131;

    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;

    height: 100vh;
    width: 64px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.menu-lateral div{
    width: 24px;
    height: 24px;

    margin-bottom: 40px;

    display: flex;
    align-items: center;
}
.menu-lateral > div:hover{
    cursor: pointer;
}
.menu-aberto{
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;

    width: 199px;
}
.menu-lateral p{
    margin-left: 20px;

    color: #888888;
    font-size: 16px;
}
.oculto{
    display: none;
}

.galeria{
    margin-top: 52px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card-img{
    width: 305px;
    height: 241px;
    margin-bottom: 40px;
    padding: 0 10px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-img:hover{
    cursor: pointer;
}
.card-img > div{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.card-img h2{
    font-size: 20px;
    font-weight: 400;
}
.card-img h3{
    color: #5C5C5C;
    font-size: 20px;
    font-weight: 400;
}
.modal{
    height: 100%;
    width: 100%;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;

    background-color: rgba(0, 0, 0, 0.76);

    display: none;
    align-items: center;
    justify-content: center;
}
.modal > div {
    position: relative;
}
.like-icon{
    position: absolute;
    right: 18px;
    top: 18px;
}



#img-modal{
    width: 555px;

}
#home-icon > p{
    color: white;
}
#settings-icon{
    margin-bottom: 0;
}
#seta-proximo{
    position: absolute;
    right: 285px;
}
#seta-proximo:hover{
    cursor: pointer;
}
#seta-anterior{
    position: absolute;
    left: 325px;
}
#seta-anterior:hover{
    cursor: pointer;
}
#btn-fechar{
    position: absolute;
    right: 45px;
    top: 60px;

    width: 40px;
    height: 40px;
}
#btn-fechar:hover{
    cursor: pointer;
}