.section-content{
    display: flex;
    width: 1015px;
    justify-content: space-between;
    margin-bottom: 80px;
}
.content-text{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-top: 1px solid rgba(51, 50, 61, 0.15);
    border-bottom: 1px solid rgba(51, 50, 61, 0.15);
}
.manage-section{
    margin-top: 10px;
}
.fylo-section{
    margin-bottom: 0;
}



.section-content img{
    width: 540px;
    height: 500px;
}
.content-text h1{
    font-family: 'Ibarra Real Nova', serif;
    font-weight: 700;
    font-size: 40px;
    margin: 51px 0 28px 0;
}
.content-text p{
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 24px;
}